page-tarea {

  .icon24 {
    font-size: 24px;
    padding-top: 16px;
    width: 50px;
    height: 50px;

  }

  .texto28{
    font-size: 28px;
    color: red;
    vertical-align:middle;
    display:table-cell;
  }


}
